<section class="container">

	<h1>Please login</h1>

	<div class="form group">
		<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>

			<div class="col-md-8">
				<p>
					<%= f.label :email %><br/>
					<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
				</p>
			</div>
			<div class="col-md-8">
				<p>
					<%= f.label :password %><br/>
					<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
				</p>
			</div>
				<div class="col-md-8">
					<btn>
						<%= f.submit "Login", class: 'btn btn-primary btn-md' %>
					</btn>
				</div>
			</div>
		<% end %>
	</div>

</section>
