<div class="listing">
	<% obj.each do |article| %>
		<div>
			<article>
				<div class="row">
					<div class="article well well-md">
						<h2><%= link_to article.title, article_path(article) %></h2>
						<p><%= truncate(article.description, length:250) %></p>
						<div class="bottom">
							<% if article.categories.any? %>
								<p>Categories: <%= render article.categories %></p>
							<% end %>
						</div>
					</div>
					<div class="article-info well well-md">
						<ul class="article-owner">
							<li>Author: <%= article.user.username if article.user %></li>
							<li>Created: <%= article.created_at.strftime("%b %d %Y")%></li>
							<li>Updated: <%= article.updated_at.strftime("%b %d %Y")%></li>
						</ul>
						<% if logged_in? && (current_user == article.user || current_user.admin?) %>
							<ul>
								<li><%= link_to "Update", edit_article_path(article), class:"btn btn-xs btn-success" %></li>
								<li><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-xs btn-danger" %></li>
							</ul>
						<% end %>
					</div>
				</div>
			</article>
		</div>
	<% end %>
</div>
