<section class="container">
	<div class="listing-top">
		<h1 class="col-md-3">All Articles</h1>
		<p class="col-md-3"><%= link_to "Create new article", new_article_path, class: "btn btn-sm btn-primary" %></p>
	</div>

<% @articles.each do |article| %>
	<div class="col-md-12">
		<div class="well well-lg">
			<article class="listing">
				<div class="article-title">
					<h2><%= link_to article.title, article_path:(article) %></h2>
				</div>
				<div class="article-body">
					<p><%= truncate(article.description, length:250) %></p>
				</div>
				<div class ="article-action">
					<btn><%= link_to "Show", article_path(article), class:"btn btn-xs btn-primary" %></btn>
					<btn><%= link_to "Edit", edit_article_path(article), class:"btn btn-xs btn-success" %></btn>
					<btn><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-xs btn-danger" %></btn>
				</div>
			</article>
		</div>
	</div>
<% end %>
</section>