<section class="container">

	<h1>Showing selected article</h1>

	<h2><i><%= @article.title %></i></h2>

	<p>Description: <%= @article.description %></p> 

	<btn><%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary btn-md' %></btn>
	<btn><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-md' %></btn>

	<btn><%= link_to "All Articles", articles_path, class: 'btn btn-primary btn-md' %></btn>

</section>