<section class="container">

	<div class="row">
		<article class="post well">
			<h1><%= @article.title %></h1>
			<hr>
			<ul class="listing">
				<div class="row">
					<li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
					<li><%= link_to @article.user.username, user_path(@article.user) %></li>
					<li><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></li>
				</div>
			</ul>
			<p><%= @article.description %></p> 
		</article>

		<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
			<btn><%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary btn-xs' %></btn>
			<btn><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "This will delete the current article. Are you sure?"}, class: 'btn btn-danger btn-xs' %></btn>
		<% end %>

		<btn><%= link_to "All Articles", articles_path, class: 'btn btn-success btn-xs' %></btn>
	</div>

</section>