<section class="user-profile">

	<div class="user-profile-info">
		<%= gravatar_for @user, size: 150 %>
		<div class="right">
			<h1><%= @user.username %></h1>
		</div>
	</div>

	<div class="user-profile-articles container">
		<h3><%= @user.username %>'s articles</h3>

		<div align="center">
			<%= will_paginate @user_articles %>
		</div>

		<%= render 'articles/article', obj: @user_articles %>

		<div align="center">
			<%= will_paginate @user_articles %>
		</div>
	</div>

</section>
