<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog | <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% unless current_page?('/') %>
   <body class="default">
<% else %>
	<body class="home">
<% end %>
	<div id="wrap">

		<%= render 'layouts/header' %>

		<div id="main" class="eclear-top container">
			
			<%= render 'layouts/messages' %>
			
			<%= yield %>

		</div>
	</div>

	<%= render 'layouts/footer' %>
</body>
</html>
